.Purple {

    background-color: rgb(92, 2, 92);
    display: flex;
    justify-content: center;
    padding: 30px;

}

.blue {
    background-color: rgb(74, 74, 247);
    padding: 20px;
    margin: 30px;

}

.yo {

    background-color: rgb(252, 241, 145);
    padding: 20px;
    margin: 10px;

}

.flex {
    display: flex;

}

.red {
    background-color: rgb(252, 241, 145);
    padding-right: 80px;
}

.Green {
    padding-bottom: 80px;
}
.a {
    margin-top: 20px;
}